section {
  display: grid;
  place-content: center;
  text-align: center;
  padding: var(--space-md);
  height: 100%;
}

h1 {
  font-size: max(var(--text-xxxl), 20vw);
}

p {
  font-size: max(var(--text-sm), 2vw);
}
