:host {
  --header-height: 2rem;

  display: flex;
  min-height: 70px;
}

:host::before {
  content: "";
  flex: 0;
}

.sepparator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-end: calc(var(--header-height) / 2);
  pointer-events: none;
}

.connector {
  width: 2px;
  flex-grow: 1;
  background-color: var(--border);
}

.dot {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot::before {
  content: "";
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: calc(var(--header-height) * 0.67);
  border: calc(var(--header-height) * 0.12) solid var(--border);
}

:host:last-of-type .sepparator .connector {
  opacity: 0;
}

.content {
  flex: 1;
  padding-block-end: var(--space-md);
}

.date {
  height: var(--header-height);
  background-color: var(--secondary);
  color: var(--neutral);
  display: grid;
  place-content: center;
  position: relative;
  border-radius: 100vw 0 0 100vw;
}

.date::before {
  content: "";
  width: calc(var(--header-height) / 2);
  aspect-ratio: 1;
  background: var(--secondary);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

.descr {
  position: relative;
  padding: calc(var(--header-height) / 2);
  margin-inline: calc(var(--header-height) / 2);
  border: 1px solid var(--secondary);
  background-color: rgba(var(--secondary-values), 0.5);
}

.descr > .column {
  gap: 0.2rem;
}

@media (min-width: 770px) {
  :host:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  :host:nth-child(odd) .date {
    border-radius: 0 calc(var(--header-height) / 2)
      calc(var(--header-height) / 2) 0;
  }

  :host:nth-child(odd) {
    flex-direction: row-reverse;
  }

  :host::before {
    flex: 1;
  }

  .sepparator {
    padding-inline-start: calc(var(--header-height) / 2);
  }
}

@media (min-width: 600px) {
  :host {
    --header-height: 3rem;
  }
}
