<div class="sepparator">
  <span class="dot"></span>
  <span class="connector"></span>
</div>
<div class="content">
  <div class="date">{{ case.year }}</div>
  <div class="descr column">
    <div class="column">
      <h3>{{ case.name }}</h3>
      <i>at {{ case.employment }}</i>
    </div>
    <p>{{ case.description }}</p>
    <div class="row skills">
      @for (technology of technologies; track case) {
      <a
        href="skills#{{ technology.name }}"
        [title]="technology.name"
        [attr.aria-label]="technology.name"
      >
        <i class="icon" aria-hidden="true" [innerHTML]="technology.icon"></i>
      </a>
      }
    </div>

    @if (case.link) {
    <a class="button" href="{{ case.link }}"> View Case </a>
    } @if (icon){
    <div
      class="icon fade"
      [style.--iconopacity]="case.iconOpacity"
      [innerHTML]="icon"
      aria-hidden="true"
    ></div>
    }
  </div>
</div>
