<section class="page content-grid full-width">
  <div class="header column">
    <h2>{{ data.company }}</h2>
    <p class="name">{{ data.name }}</p>
    <div class="divider"></div>
    <p class="description">{{ data.description }}</p>
    <div
      class="icon fade"
      [style.--iconopacity]="data.iconOpacity"
      [innerHTML]="svg"
    ></div>
  </div>
  <div class="divider breakout"></div>
  <div class="body column">
    @for (c of data.content; track data; let i = $index;) {
    <div class="row md {{ i % 2 === 0 ? '' : 'reverse' }}">
      <img src="{{ c.img }}" alt="{{ c.alt }}" />
      <div class="column">
        <h3>{{ c.title }}</h3>
        @for (p of c.content; track data) { @if ( isArray( p)) {
        <ul>
          @for (item of p; track data) {
          <li>{{ item }}</li>
          }
        </ul>
        } @else {
        <p>{{ p }}</p>
        } }
      </div>
    </div>
    }
  </div>
</section>
