<div class="content-grid">
  <div class="header column">
    <h2>{{ data.company }}</h2>
    <p class="name">{{ data.name }}</p>
    <div class="divider"></div>
    <p class="description">{{ data.description }}</p>
    <div
      class="icon fade"
      [style.--iconopacity]="data.iconOpacity"
      [innerHTML]="svg"
      aria-hidden="true"
    ></div>
    <div class="skills row">
      @for (technology of technologies; track technologies) {
      <a href="skills#{{ technology.name }}" class="row">
        <i
          class="icon"
          [title]="technology.name"
          [attr.aria-label]="technology.name"
          aria-hidden="true"
          [innerHTML]="technology.icon"
        ></i>
        <span>{{ technology.name }}</span>
      </a>
      }
    </div>
  </div>
  <div class="divider breakout"></div>
  <div class="body column">
    @for (c of data.content; track data; let i = $index;) {
    <div class="row md {{ i % 2 === 0 ? '' : 'reverse' }}">
      <img src="{{ c.img }}" alt="{{ c.alt }}" />
      <div class="column content">
        <h3>{{ c.title }}</h3>
        @for (p of c.content; track data) { @if ( isArray( p)) {
        <ul>
          @for (item of p; track data) {
          <li>{{ item }}</li>
          }
        </ul>
        } @else {
        <p>{{ p }}</p>
        } }
      </div>
    </div>
    }
    <nav class="nav-wide-wrapper" aria-label="Page navigation">
      @if (data.prev) {
      <a
        href="{{ data.prev }}"
        class="nav-chapters previous icon currentColorStroke"
        style="--size: 5rem"
        title="Previous case"
        aria-label="Previous case"
        aria-keyshortcuts="Left"
        [innerHTML]="chevron_left"
      >
      </a>
      } @if (data.next) {
      <a
        href="{{ data.next }}"
        class="nav-chapters next icon currentColorStroke"
        style="--size: 5rem"
        title="Next case"
        aria-label="Next case"
        aria-keyshortcuts="Right"
        [innerHTML]="chevron_left"
      >
      </a>
      }
    </nav>
  </div>
</div>
