.name {
  font-size: var(--text-md);
}

img {
  max-width: min(400px, 100%);
}

.row {
  padding-block-end: var(--space-xxl);
  align-items: center;
}

.page {
  padding-block: var(--space-xxl);
  grid-template-rows: min-content min-content 1fr;
}

.header {
  position: relative;
  gap: var(--space-sm);
  padding-block-start: var(--space-xxl);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description {
  padding-block: var(--space-lg);
  font-weight: 600;
}

.body {
  padding-block: var(--space-lg);
}

@media (min-width: 600px) {
  .row {
    gap: var(--space-xl);
    align-items: start;
  }
}

.nav-chapters {
  font-size: var(--text-xxl);
  text-align: center;
  text-decoration: none;
  color: rgba(var(--neutral-values), 0.25);

  top: 0;
  bottom: 0;
  margin: 0;
  width: 90px;

  display: grid;
  place-items: center;

  background-color: rgba(var(--secondary-values), 0.4);
  transition-property: color;
  transition-duration: 0.5s;
  border-radius: 1rem;
}

.nav-chapters:hover {
  text-decoration: none;
  color: var(--text-2);
}

.previous {
  float: left;
  left: 0;
}

.next {
  float: right;
  right: 0;
  transform: rotate(180deg);
}

.content {
  width: 100%;
}

@media (min-width: 950px) {
  .nav-chapters {
    background: none;
    position: fixed;
  }
}
