.menu {
  --menu-size: calc((var(--space-sm, 0.75rem) * 2 + 3rem) * 2);
  all: unset;
  cursor: pointer;
  position: fixed;
  top: calc(var(--menu-size) * -0.5);
  right: calc(var(--menu-size) * -0.5);
  background-color: var(--base);
  border: 2px solid var(--primary);
  border-radius: 100vw;
  width: var(--menu-size);
  height: var(--menu-size);
}

#main-menu,
#main-menu::before,
#main-menu ul {
  --time: 0.5s;
  position: fixed;
  inset: 0;
  z-index: -1;
  clip-path: circle(0% at top right);
}

#main-menu {
  background-color: var(--primary);
  transition: visibility var(--time) 0.1s, clip-path var(--time) 0.1s;
  visibility: hidden;
}

#main-menu::before {
  content: "";

  background-color: var(--base);
  transition: clip-path var(--time);
}

#main-menu ul {
  transition: clip-path var(--time);

  font-size: var(--text-xxxl);
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-menu.visible {
  transition: visibility var(--time), clip-path var(--time);
  clip-path: circle(160% at top right);
  visibility: visible;
}

#main-menu.visible::before {
  transition: clip-path var(--time) 0.1s;
  clip-path: circle(160% at top right);
}

#main-menu.visible ul {
  transition: clip-path var(--time) 0.1s;
  clip-path: circle(160% at top right);
}
