<nav role="navigation" aria-label="Main menu">
  <button
    id="menu-button"
    [attr.aria-expanded]="open"
    aria-controls="main-menu"
    aria-label="Menu"
    class="menu"
    (click)="toggle()"
  >
    <app-hamburger aria-hidden="true" [open]="open"></app-hamburger>
  </button>

  <div
    id="main-menu"
    aria-labelledby="menu-button"
    role="region"
    [class.visible]="open"
  >
    <ul class="column">
      <a href="/">Home</a>
      <a href="/cases">Cases</a>
      <a href="/skills">My Skills</a>
    </ul>
  </div>
</nav>
