<nav role="navigation" aria-label="Main menu">
  <button
    [attr.aria-expanded]="open"
    aria-controls="main-menu"
    aria-label="Menu"
    aria-controls="main-menu"
    class="menu"
    (click)="toggle()"
  >
    <app-hamburger [open]="open"></app-hamburger>
  </button>

  <div id="main-menu" [class.visible]="open">
    <ul class="column">
      <a href="/skills">My Skills</a>
      <a href="/test">test</a>
      <a href="/test">test</a>
      <a href="/test">test</a>
    </ul>
  </div>
</nav>
