.menu {
  --menu-size: calc((var(--space-sm, 0.75rem) * 2 + 3rem) * 2);
  all: unset;
  cursor: pointer;
  position: fixed;
  top: calc(var(--menu-size) * -0.5);
  right: calc(var(--menu-size) * -0.5);
  background-color: var(--base);
  border: 2px solid var(--primary);
  border-radius: 100vw;
  width: var(--menu-size);
  height: var(--menu-size);
}

.hamburger {
  --hamburger-size: 1.5rem;
  --hamburger-thickness: 2px;

  position: absolute;
  top: calc(var(--menu-size) * 0.5 + var(--space-sm, 0.75rem));
  right: calc(var(--menu-size) * 0.5 + var(--space-sm, 0.75rem));
  height: var(--hamburger-size);
  width: var(--hamburger-size);
}

.hamburger span:first-of-type {
  top: calc(var(--hamburger-size) * 0.25 - var(--hamburger-thickness) * 0.5);
}

.hamburger span:last-of-type {
  bottom: calc(var(--hamburger-size) * 0.25 - var(--hamburger-thickness) * 0.5);
}

.hamburger span {
  background-color: var(--text);
  display: block;
  height: var(--hamburger-thickness);
  width: var(--hamburger-size);
  position: absolute;

  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    top 0.2s cubic-bezier(0.3, 1.4, 0.7, 1) 0.2s,
    bottom 0.2s cubic-bezier(0.3, 1.4, 0.7, 1) 0.2s;
}

.hamburger.open span:first-of-type {
  top: calc(var(--hamburger-size) * 0.5 - var(--hamburger-thickness) * 0.5);
  transform: rotate(45deg);
}

.hamburger.open span:last-of-type {
  bottom: calc(var(--hamburger-size) * 0.5 - var(--hamburger-thickness) * 0.5);
  transform: rotate(-45deg);
}

.hamburger.open span {
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s,
    top 0.2s cubic-bezier(0.3, 1.4, 0.7, 1),
    bottom 0.2s cubic-bezier(0.3, 1.4, 0.7, 1);
}

#main-menu,
#main-menu::before,
#main-menu ul {
  --time: 0.5s;
  position: fixed;
  inset: 0;
  z-index: -1;
  clip-path: circle(0% at top right);
}

#main-menu {
  background-color: var(--primary);
  transition: visibility var(--time) 0.1s, clip-path var(--time) 0.1s;
  visibility: hidden;
}

#main-menu::before {
  content: "";

  background-color: var(--base);
  transition: clip-path var(--time);
}

#main-menu ul {
  transition: clip-path var(--time);

  font-size: var(--text-xxxl);
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-menu.visible {
  transition: visibility var(--time), clip-path var(--time);
  clip-path: circle(160% at top right);
  visibility: visible;
}

#main-menu.visible::before {
  transition: clip-path var(--time) 0.1s;
  clip-path: circle(160% at top right);
}

#main-menu.visible ul {
  transition: clip-path var(--time) 0.1s;
  clip-path: circle(160% at top right);
}
