<header>
  <a class="logo icon" href="/" aria-label="Home" [innerHTML]="eg"> </a>

  <nav role="navigation" aria-label="Main menu">
    <button
      [attr.aria-expanded]="open"
      aria-controls="main-menu"
      aria-label="Menu"
      aria-controls="main-menu"
      class="menu"
      (click)="toggle()"
    >
      <div focusable="false" class="hamburger" [class.open]="open">
        <span></span><span></span>
      </div>
    </button>
    <div id="main-menu" [class.visible]="open">
      <ul class="column">
        <a>test</a>
        <a>test</a>
        <a>test</a>
        <a>test</a>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet />
</main>
<footer>
  <p>Follow me here</p>
  <div class="row">
    <a
      class="icon currentColor"
      style="--size: 1.5rem"
      href="https://github.com/MrPorky"
      target="_blank"
      rel="noreferrer"
      aria-label="Visit Github"
      [innerHTML]="github"
    >
    </a>
    <a
      class="icon currentColor"
      style="--size: 1.5rem"
      href="https://www.linkedin.com/in/eskil-ganslandt-b5b3a6115/"
      target="_blank"
      rel="noreferrer"
      aria-label="Visit Linkedin"
      [innerHTML]="linkedin"
    >
    </a>
  </div>
</footer>
