:host {
  display: grid;
  min-height: calc(var(--vh, 1vh) * 100);
  grid-template-rows: 1fr min-content;
}

a.logo {
  position: fixed;
  top: var(--space-sm);
  left: var(--space-sm);
  z-index: 1000;
  width: 3rem;
  height: 3rem;
}

footer {
  padding: var(--space-md);
  display: grid;
  gap: var(--space-sm);
  place-items: center;
}
