:host {
  display: grid;
  min-height: calc(var(--vh, 1vh) * 100);
  grid-template-rows: 0 1fr min-content;
}

header {
  z-index: 1000;
}

a.logo {
  position: fixed;
  top: 0;
  left: 0;
  margin: var(--space-sm, 0.75rem);
  width: 3rem;
}

footer {
  padding: var(--space-md);
  display: grid;
  gap: var(--space-sm);
  place-items: center;
}
