<header>
  <a class="logo icon" href="/" aria-label="Home" [innerHTML]="eg"> </a>

  <app-nav></app-nav>
</header>
<main>
  <router-outlet />
</main>
<footer>
  <p>Follow me here</p>
  <div class="row">
    <a
      class="icon currentColor"
      style="--size: 1.5rem"
      href="https://github.com/MrPorky"
      target="_blank"
      rel="noreferrer"
      aria-label="Visit Github"
      [innerHTML]="github"
    >
    </a>
    <a
      class="icon currentColor"
      style="--size: 1.5rem"
      href="https://www.linkedin.com/in/eskil-ganslandt-b5b3a6115/"
      target="_blank"
      rel="noreferrer"
      aria-label="Visit Linkedin"
      [innerHTML]="linkedin"
    >
    </a>
  </div>
</footer>
