img {
  max-height: 40%;
  max-width: 250px;
}

.links a {
  color: var(--text);
}

#cases {
  row-gap: var(--space-xl);
}

.tt {
  position: relative;
  padding: var(--space-md);
}

.tt::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(var(--primary-values), 0.05);
  border-radius: 5px;
  filter: blur(var(--space-sm));
}
